# Development / Local backend
VITE_API_BASE_URL=http://localhost:8081/api

# Render backend
# VITE_API_BASE_URL=https://pathshala-meter-backend.onrender.com/api

# Toggle mock API (MSW)
VITE_USE_MOCKS=false
